body {
  background-color: #f5f5f5; /* light mode background */
  color: #333; /* light mode text color */
  margin: 1em;
}

.dark-mode {
  background-color: #333; /* dark mode background */
  color: #f5f5f5; /* dark mode text color */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  font-size: 1.5em;
}

i {
  font-size: 1.25em;
  margin-right: 2em;
}

#projects ul {
  margin: 0;
  padding: 0;
  list-style-type: square;
}

#projects ul li a {
  text-decoration: none;
  color: black;
}

#projects ul li a:hover {
  cursor: pointer;
}

section #about-me {
  display: flex;
  align-items: center;
}

.about-me-content {
  display: flex;
}

.about-me-text {
  flex-grow: 1;
}

.profile-img {
  margin-left: 1.5em;
}

.about-me-content img {
  max-width: 100%;
  height: 300px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-text {
  padding: 20px;
}

.card-text h4 {
  margin-bottom: 10px;
}

.card-text p {
  font-size: 16px;
  line-height: 1.5;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 90%;
  }
}
